body {
    background: #b7b7b7;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: white;
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
