body {
    color: #7c8081;
    background: #b7b7b7;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
    font-size: 15px;
    margin: 0;
}

@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 14pt;
    }
}

a, a:hover {
  text-decoration: none;
}

.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

#content {
  background: white;
}

.content-area {
    position: relative;
    width: 70%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.widget-area {
    position: relative;
    width: 30%;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-left .content-area {
    left: 30%;
}

.sidebar-left .widget-area {
    right: 70%;
}

/* Header */
.site-header {
  background: white;
  padding: 1em 1.5em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.home .site-header {
    background: transparent;
    box-shadow: none;
}

.admin-bar .site-header {
  margin-top: 32px;
}

/* Site branding */
.site-branding {
    margin: 0;
    font-size: 12pt;
    line-height: 1.75em;
}

.site-branding span {
  font-weight: 300;
}

.site-branding a {
    color: inherit;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 900;
}

.home .site-branding a {
    color: white;
}

/* Primary Menu */
.main-navigation {
    letter-spacing: 0.075em;
    position: absolute;
    right: 1.5em;
    text-transform: uppercase;
    top: 0.75em;
}

#primary-menu .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#primary-menu .menu:after {
    content: '';
    display: block;
    clear: both;
}

#primary-menu .menu li {
    position: relative;
    list-style: none;
}

#primary-menu .menu > li {
    float: left;
    margin-left: 1.5em;
}

#primary-menu .menu li a {
    display: block;
    color: inherit;
    font-size: 12pt;
    padding: 0.6em 0.75em;
    line-height: 1em;
    border: solid 1px transparent;
    text-transform: uppercase;
}

.home #primary-menu .menu > li > a {
    color: white;
}

#primary-menu .menu > li.menu-item-has-children > a:before {
    content: '\f107';
    margin-right: 0.65em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#primary-menu .menu li.current-menu-item a {
    background: rgba(188, 202, 206, 0.15);
    font-weight: 900;
}

#primary-menu .menu li a:hover {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: rgba(188, 202, 206, 0.15);
}

#primary-menu .menu li .sub-menu a {
    font-weight: normal;
    font-size: 10pt;
    letter-spacing: initial;
    padding: 0.6em 1em;
}

#primary-menu .menu li .sub-menu a:hover {
    background: #83d3c9;
    color: white;
}

#primary-menu .menu li .sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    position: absolute;
    width: 200px;
    background: #fff;
    padding: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    z-index: 9999;
}

#primary-menu .menu li > .sub-menu {
    top: 0;
    right: 200px;
}

#primary-menu .menu > li > .sub-menu {
    left: 0;
    top: auto;
}

#primary-menu .menu > li > .sub-menu:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

#primary-menu .menu li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.signup {
      background: #96dad1 !important;
      color: white;
      font-weight: 900;
}

/* Banner */
@-moz-keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

#banner {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-image: url(../images/light-bl.svg), url(../images/light-br.svg), url(../images/overlay.png), url(../images/banner.jpg);
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    color: #fff;
    cursor: default;
    padding: 6em 0;
    text-align: center;
}

#banner .inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(52, 27, 43, 0.5);
    color: #fff;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center;
}

#banner .inner header {
    display: inline-block;
    border-bottom: solid 2px;
    border-top: solid 2px;
    margin: 0 0 2em 0;
    padding: 3px 0 3px 0;
}

#banner .inner header h2 {
    border-bottom: solid 2px;
    border-top: solid 2px;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin: 0;
    padding-left: 0.05em;
    position: relative;
    text-transform: uppercase;
}

#banner .inner p {
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

#banner .inner p a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#banner .inner footer {
    margin: 2em 0 0 0;
}

.buttons_vertical .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: none;
    border: solid 1px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.buttons_vertical .button:hover {
    background: rgba(188, 202, 206, 0.15);
}

/* Footer */
.site-footer {
  background: pink;
}

.site-footer:after {
  content: '';
  display: block;
  clear: both;
}

.footer-widgets {
    width: 25%;
    float: left;
}
